@using IgwOutgoingStatus.ViewModel
@model HomeViewModel

@{
    ViewData["Title"] = "Lossy Destinations";
}

<div class="text-center">
    <h1 class="display-4">BTCL IGW Outgoing Call Lossy Destinations</h1>
</div>
<br />

<div id="specificDateDiv" style="color:darkred">
        @if(Model.StartDate == Model.EndDate)
        {
            <p><b>Specific Date: </b>  @Model.StartDate.ToShortDateString()</p>
        }
        else
        {
            <p><b>Start date: </b> @Model.StartDate.ToShortDateString(), <b>End date: </b> @Model.EndDate.ToShortDateString()</p>
        }
</div>

<div>
<form id="specificdateform">
  <label>
    <b>Choose specific date:</b>
    <input type="date" name="startdate" id="startdate">
  </label>
  <button id="specificdatebtn" asp-controller="home" asp-action="Index">Submit</button>
</form>

<br />
<form id="rangedateform">
  <label>
    <b>Choose date range:</b><br></ br>Start Date:
    <input type="date" name="startdate" id="startdate">
     <br></ br>End Date:
    <input type="date" name="enddate" id="enddate">
  </label>
  <button id="rangedatebtn" asp-controller="home" asp-action="Index">Submit</button>
</form>
</div>

<br />

<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered datatable display" id="igwTable">
        <thead style="background-color:lightgrey">
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Dest Code
                </th>
                <th scope="col">
                    Dest Prefix
                </th>
                <th scope="col">
                    Dest Name
                </th>
                <th  scope="col">
                    Calling Operator
                </th>
                <th  scope="col">
                    International Carrier
                </th>
                <th  scope="col">
                    Total Calls
                </th>
                <th  scope="col">
                    Total Min
                </th>
                <th  scope="col"  style="color:darkblue">
                    Duration per Call (ACD)
                </th>
                <th  scope="col">
                    Carrier Rate($)
                </th>
                <th  scope="col">
                    Y Rate($)
                </th>
                <th  scope="col">
                    X Rate(৳)
                </th>
                <th style="width:200px;">
                    Y Rate(৳)
                </th>
                <th scope="col">
                    Z Rate(৳)
                </th>
                <th  scope="col">
                    Total Revenue(৳)
                </th>
                <th  scope="col">
                    Total Expense(৳)
                </th>
                <th  scope="col">
                    Total Loss(৳)
                </th>
                <th  scope="col" style="color:green">
                    Loss(৳) per Call
                </th>
                <th  scope="col"  style="color:red">
                    Loss(৳) per Min
                </th>
@*                <th  scope="col">
                    Month
                </th>
                <th  scope="col">
                    Date
                </th>*@
            </tr>
        </thead>

        <tbody>
        @{
            int i = 0;
            foreach(var obj in @Model.Igw_Loss_Record_List)
            {
                i = i + 1;
                <tr>
                    <th scope="row">
                        @i
                    </th>
                    <td>
                        @obj.Dest_Code
                    </td>
                    <td>
                        @obj.Dest_Prefix
                    </td>
                    <td>
                        @obj.Dest_Name
                    </td>
                    <td>
                        @obj.Calling_Operator
                    </td>
                    <td>
                        @obj.International_Carrier
                    </td>
                    <td>
                        @obj.Total_Calls
                    </td>
                    <td>
                        @obj.Total_Min
                    </td>
                    <td style="color:darkblue">
                        @Math.Round(obj.Total_Min/obj.Total_Calls,3)
                    </td>
                    <td>
                        @obj.Carrier_Rate_USD
                    </td>
                    <td>
                        @obj.Y_Rate_USD
                    </td>
                    <td>
                        @obj.X_Rate_BDT
                    </td>
                    <td>
                        @obj.Y_Rate_BDT
                    </td>
                    <td>
                        @obj.Z_Rate_BDT
                    </td>
                    <td>
                        @obj.Total_Revenue_BDT
                    </td>
                    <td>
                        @obj.Total_Expense_BDT
                    </td>
                    <td style="font-weight:bold">
                        @obj.Total_Loss_BDT
                    </td>
                    <td style="color:green">
                        @Math.Round(obj.Total_Loss_BDT / obj.Total_Calls,2)
                    </td>
                    <td style="color:red">
                        @Math.Round(obj.Total_Loss_BDT / obj.Total_Min,2)
                    </td>
                </tr>
            }
        }
        </tbody>
        <tfoot>
            <tr style="background-color:lightblue">
                <th scope="row" colspan="6">
                Current Page Total / All Pages Total
                <th scope="row">
                    @Model.Igw_Loss_Record_List.Sum(t=> t.Total_Calls)
                </th>
                <th scope="row">
                    @Math.Round(Model.Igw_Loss_Record_List.Sum(t=> t.Total_Min),3)
                </th>
                <th scope="row" style="color:darkblue">
                    @Math.Round(Model.Igw_Loss_Record_List.Sum(t=> t.Total_Min)/Model.Igw_Loss_Record_List.Sum(t=> t.Total_Calls),3)
                </th>
                <th  colspan="5">
                </th>
                <th scope="row">
                    @Math.Round(Model.Igw_Loss_Record_List.Sum(t=> t.Total_Revenue_BDT),2)
                </th>
                <th scope="row">
                    @Math.Round(Model.Igw_Loss_Record_List.Sum(t=> t.Total_Expense_BDT),2)
                </th>
                <th scope="row">
                    @Math.Round(Model.Igw_Loss_Record_List.Sum(t=> t.Total_Loss_BDT),2)
                </th>
                <th scope="row" style="color:green">
                    @Math.Round(Model.Igw_Loss_Record_List.Sum(t=> t.Total_Loss_BDT)/@Model.Igw_Loss_Record_List.Sum(t=> t.Total_Calls),2)
                </th>
                <th scope="row" style="color:red">
                    @Math.Round(Model.Igw_Loss_Record_List.Sum(t=> t.Total_Loss_BDT)/@Model.Igw_Loss_Record_List.Sum(t=> t.Total_Min),2)
                </th>
            </tr>

            <tr style="background-color:lightgrey">
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Dest Code
                </th>
                <th scope="col">
                    Dest Prefix
                </th>
                <th scope="col">
                    Dest Name
                </th>
                <th  scope="col">
                    Calling Operator
                </th>
                <th  scope="col">
                    International Carrier
                </th>
                <th  scope="col">
                    Total Calls
                </th>
                <th  scope="col">
                    Total Min
                </th>
                <th  scope="col"  style="color:darkblue">
                    Duration per Call (ACD)
                </th>
                <th  scope="col">
                    Carrier Rate($)
                </th>
                <th  scope="col">
                    Y Rate($)
                </th>
                <th  scope="col">
                    X Rate(৳)
                </th>
                <th style="width:200px;">
                    Y Rate(৳)
                </th>
                <th scope="col">
                    Z Rate(৳)
                </th>
                <th  scope="col">
                    Total Revenue(৳)
                </th>
                <th  scope="col">
                    Total Expense(৳)
                </th>
                <th  scope="col">
                    Total Loss(৳)
                </th>
                <th  scope="col" style="color:green">
                    Loss(৳) per call
                </th>
                <th  scope="col"  style="color:red">
                    Loss(৳) per min
                </th>
            </tr>
        </tfoot>
    </table>
</div>
