@using IgwOutgoingStatus.ViewModel
@model PrftDestViewModel

@{
    ViewData["Title"] = "Profitable Destinations";
}
<style>
    table, th, td {
  border: 1px solid black;
}
</style>

<div class="text-center">
    <h1 class="display-4">BTCL IGW Outgoing Call Profitable Destinations</h1>
</div>
<br />

<div id="specificDateDiv" style="color:darkred">
        @if(Model.StartDate == Model.EndDate)
        {
            <p><b>Specific Date: </b>  @Model.StartDate.ToShortDateString()</p>
        }
        else
        {
            <p><b>Start date: </b> @Model.StartDate.ToShortDateString(), <b>End date: </b> @Model.EndDate.ToShortDateString()</p>
        }
</div>

<div>
<form id="specificdateform">
  <label>
    <b>Choose specific date:</b>
    <input type="date" name="startdate" id="startdate">
  </label>
  <button id="specificdatebtn" asp-controller="ProfitableDestination" asp-action="GetDestinations">Submit</button>
</form>

<br />
<form id="rangedateform">
  <label>
    <b>Choose date range:</b><br></ br>Start Date:
    <input type="date" name="startdate" id="startdate">
     <br></ br>End Date:
    <input type="date" name="enddate" id="enddate">
  </label>
  <button id="rangedatebtn" asp-controller="ProfitableDestination" asp-action="GetDestinations">Submit</button>
</form>
</div>

<br />

<div class="table-responsive">
    <table class="table table-hover table-striped datatable" id="igwTable">
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Dest Code
                </th>
                <th scope="col">
                    Dest Prefix
                </th>
                <th scope="col">
                    Dest Name
                </th>
                <th  scope="col">
                    Calling Operator
                </th>
                <th  scope="col">
                    International Carrier
                </th>
                <th  scope="col">
                    Total Calls
                </th>
                <th  scope="col">
                    Total Min
                </th>
                <th  scope="col">
                    Carrier Rate($)
                </th>
                <th  scope="col">
                    Y Rate($)
                </th>
                <th  scope="col">
                    X Rate(৳)
                </th>
                <th style="width:200px;">
                    Y Rate(৳)
                </th>
                <th scope="col">
                    Z Rate(৳)
                </th>
                <th  scope="col">
                    Total Revenue(৳)
                </th>
                <th  scope="col">
                    Total Expense(৳)
                </th>
                <th  scope="col">
                    Total Profit(৳)
                </th>
                <th  scope="col" style="color:green">
                    Profit(৳) per call
                </th>
                <th  scope="col"  style="color:red">
                    Profit(৳) per min
                </th>
@*                <th  scope="col">
                    Month
                </th>
                <th  scope="col">
                    Date
                </th>*@
            </tr>
        </thead>

        <tbody>
        @{
            int i = 0;
            foreach(var obj in @Model.Igw_Prft_Record_List)
            {
                i = i + 1;
                <tr>
                    <th scope="row">
                        @i
                    </th>
                    <td>
                        @obj.Dest_Code
                    </td>
                    <td>
                        @obj.Dest_Prefix
                    </td>
                    <td>
                        @obj.Dest_Name
                    </td>
                    <td>
                        @obj.Calling_Operator
                    </td>
                    <td>
                        @obj.International_Carrier
                    </td>
                    <td>
                        @obj.Total_Calls
                    </td>
                    <td>
                        @obj.Total_Min
                    </td>
                    <td>
                        @obj.Carrier_Rate_USD
                    </td>
                    <td>
                        @obj.Y_Rate_USD
                    </td>
                    <td>
                        @obj.X_Rate_BDT
                    </td>
                    <td>
                        @obj.Y_Rate_BDT
                    </td>
                    <td>
                        @obj.Z_Rate_BDT
                    </td>
                    <td>
                        @obj.Total_Revenue_BDT
                    </td>
                    <td>
                        @obj.Total_Expense_BDT
                    </td>
                    <td style="font-weight:bold">
                        @obj.Total_Profit_BDT
                    </td>
                    <td style="color:green">
                        @Math.Round(obj.Total_Profit_BDT / obj.Total_Calls,2)
                    </td>
                    <td style="color:red">
                        @Math.Round(obj.Total_Profit_BDT / obj.Total_Min,2)
                    </td>
                </tr>
            }
        }
        </tbody>
        <tfoot>
            <tr>
                <th scope="row" colspan="6">
                Total
                <th scope="row">
                    @Model.Igw_Prft_Record_List.Sum(t=> t.Total_Calls)
                </th>
                <th scope="row">
                    @Math.Round(Model.Igw_Prft_Record_List.Sum(t=> t.Total_Min),3)
                </th>
                <th  colspan="5">
                </th>
                <th scope="row">
                    @Math.Round(Model.Igw_Prft_Record_List.Sum(t=> t.Total_Revenue_BDT),2)
                </th>
                <th scope="row">
                    @Math.Round(Model.Igw_Prft_Record_List.Sum(t=> t.Total_Expense_BDT),2)
                </th>
                <th scope="row">
                    @Math.Round(Model.Igw_Prft_Record_List.Sum(t=> t.Total_Profit_BDT),2)
                </th>
                <th  colspan="2">
                </th>
            </tr>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Dest Code
                </th>
                <th scope="col">
                    Dest Prefix
                </th>
                <th scope="col">
                    Dest Name
                </th>
                <th  scope="col">
                    Calling Operator
                </th>
                <th  scope="col">
                    International Carrier
                </th>
                <th  scope="col">
                    Total Calls
                </th>
                <th  scope="col">
                    Total Min
                </th>
                <th  scope="col">
                    Carrier Rate($)
                </th>
                <th  scope="col">
                    Y Rate($)
                </th>
                <th  scope="col">
                    X Rate(৳)
                </th>
                <th style="width:200px;">
                    Y Rate(৳)
                </th>
                <th scope="col">
                    Z Rate(৳)
                </th>
                <th  scope="col">
                    Total Revenue(৳)
                </th>
                <th  scope="col">
                    Total Expense(৳)
                </th>
                <th  scope="col">
                    Total Loss(৳)
                </th>
                <th  scope="col" style="color:green">
                    Profit(৳) per call
                </th>
                <th  scope="col"  style="color:red">
                    Profit(৳) per min
                </th>
            </tr>
        </tfoot>
    </table>
</div>

<script>
    $('#igwTable').DataTable({searching: false, paging: false, info: false});
</script>
@*<script>
$(document).ready(function () {
    $('#igwTable').DataTable({
        footerCallback: function (row, data, start, end, display) {
            var api = this.api();
 
            // Remove the formatting to get integer data for summation
            var intVal = function (i) {
                return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
            };
 
            // Total over all pages
            total = api
                .column(6)
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Total over this page
            pageTotal = api
                .column(6, { page: 'current' })
                .data()
                .reduce(function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0);
 
            // Update footer
            $(api.column(6).footer()).html('$' + pageTotal + ' ( $' + total + ' total)');
        },
    });
});
</script>*@